body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    -ms-overflow-style: none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    height: 36px !important;
}

.navbar-logo {
    width: 40px;
    float: left;
    margin-top: 3px;
    padding-right: 5px;
}

.btn {
    height: 36px !important;
}

.right {
    text-align: right;
}

.br-0 {
    border-radius: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.mr-10 {
    margin-right: 10px;
}

.mr-n5 {
    margin-right: -5px;
}

.ml-10 {
    margin-left: 10px;
}

.pointer {
    cursor: pointer;
}

.c-black {
    color: black;
}

.d-none {
    display: none;
}

.card {
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    height: 100%;
    -webkit-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -moz-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -o-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    -moz-border-radius: 0.4167rem;
    border-radius: 0.4167rem;
    padding: 2.083rem;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-button {
    display: none;
}

.underline {
    text-decoration: underline;
}

.size-13 {
    font-size: 13px;
}

.size-16 {
    font-size: 16px;
}

#mapTooltip {
    height: 30px;
    width: 80px;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    z-index: 99999;
}
