@{
    ViewBag.Title = "Home";
}

<div class="col-lg-12">
    <div class="col-md-12 card">
        <div class="jumbotron">
            <h1>Satellite Tracker</h1>
            <p class="lead">Tracking satellites by parsing NMEA files and showing result on a map.</p>
        </div>
        <div class="size-16">
            <h3>GitHub: 
                <a href="https://github.com/tbodorkos/satellite-tracker" target="_blank">
                    satellite-tracker
                </a>
            </h3>
        </div>
        <div class="size-16">
            <h3>How to use this application:</h3>
            <ol>
                <li>Select Map on menu</li>
                <li>Upload your NMEA file (We use modified NMEA files! You only have to add your GPS coordinates to first line in the file.)</li>
                <li>Select your file, to show on the map</li>
                <li>Find data about satellites from map or the Satellite Informations panel</li>
            </ol>
        </div>
        <div class="size-16">
            <h3>Used frameworks/tools:</h3>
            <ul>
                <li><a href="https://www.asp.net/mvc" target="_blank">ASP.NET MVC 5</a></li>
                <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 3</a></li>
                <li><a href="https://sweetalert.js.org/" target="_blank">SweetAlert for Bootstrap</a></li>
                <li><a href="https://openlayers.org/" target="_blank">OpenLayers</a></li>
            </ul>
        </div>
    </div>
</div>
