@{
    ViewBag.Title = "Select file to show on map";
}

<button class="btn btn-default br-0" data-toggle="collapse" data-target="#selectCollapse">Select NMEA file</button>

<div id="selectCollapse" class="collapse">
    <br />
    <h4>@ViewBag.Title</h4>
    <div class="form-group">
        <select class="form-control" id="select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
</div>

